<?xml version="1.0"?>
<launch>
    
    <!-- Eye_tracker arguments -->
        <arg name="model_path"      default='/home/paolo/rosneuro_ws/src/eye_tracking/trained_models/shape_predictor_68_face_landmarks.dat'/>
		<arg name="show_face_pupil_detect"      default='true'/>
		<arg name="show_camera"      default='true'/>
		<arg name="rate"      default='256'/>
		<arg name="camera_open"      default='0'/>

    <!-- aquisition node -->
    <node name="gaze_node" pkg="eye_tracking" type="gaze_node" output="screen" >
        <param name="~model_path"       value="$(arg model_path)"/>
		<param name="~show_face_pupil_detect"   type="bool"   value="$(arg show_face_pupil_detect)"/>
		<param name="~show_camera"   type="bool"   value="$(arg show_camera)"/>
		<param name="~rate"   type="int"   value="$(arg rate)"/>
		<param name="~camera_open"   type="int"   value="$(arg camera_open)"/>
    </node>

</launch>
